/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}

* {
  box-sizing: border-box;
}

/* variables */
:root {
  --primary: #171717;
  --secondary: #525252;
}

.background {
  background-color: #F9FAFB; /* fallback colour*/
  background-image: linear-gradient(26deg, #F9FAFB, #D2D6DB);
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.testimonial-card {
  border-radius: 16px;
  background-color: #FFFFFF;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  max-width: 340px;

  margin-top: 200px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  /* align-items: flex-start; */
}

.profile {
  display: flex;
  gap: 16px;
  align-items: center;
}

.profile img {
  border-radius: 100%;
  width: 48px;
  height: 48px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-width: 0;
}

.profile-info h1 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--primary);
}

.profile-info p {
  font-size: 1.14rem;
  color: var(--secondary);
} 

.testimonial-text {
  color: var(--secondary);
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.truncate-singleline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}

.truncate-multiline {
  display: -webkit-box;
  line-clamp: 7;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

